.Navbar{
    height:40px;
    margin-top: -25px;
    font-size: 20px;
    background-color: rgb(47, 122, 122);
    margin-bottom: 150px;
}

.Links{
    background-color: rgb(47, 122, 122);
    padding-right: 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:rgb(0, 204, 255);
}

a:hover{
    color:Blue;
}

a:focus{
    text-decoration-line: underline;
}

ul{
   list-style-type: none;
   display: block;
}

li{
    display: inline-block;
    padding: 20px;
    text-decoration-style: none;
}